// COLORS

$primary: #f4b400;
$black: #111111;
$white: #ffffff;

$background: #f8f9fa;

$text: #333333;

$gray: #6b7280;

$green: #2e7d32;

$blue: #5bc0eb;

// CONTAINER

$container: 1320px;

// RADIUS

$radius-sm: 8px;
$radius-md: 16px;
$radius-lg: 24px;

// TRANSITION

$transition: all .3s ease;

// SHADOW

$shadow: 0 10px 30px rgba(0,0,0,.08);